<%= form_with(model: [book, book.comments.build], local: true) do |form| %>
  <div>
    <%= form.label :content, "Tu comentario" %>
    <%= form.text_area :content, rows: 4 %>
  </div>

  <%= form.submit "Enviar comentario" %>
<% end %>
